﻿aside {
    width: 25%;
    height: 200px;
}

.asideScores {
    float: left;
}

#tipsCount {
    padding-left: 5px;
}

.field {
    float: left;
    width: 50%;
    height: 250px;
    border-left: 1px solid red;
    border-right: 1px solid red;
    padding: 5px;
    position: relative;
}

.asideTimer {
    float: right;
}


.roundResult {
    width: 60%;
    float: left;
}


.clear {
    clear: both;
}

.mk5-font {
    font-family: mk5;
}

#announcementHeader {
    height: 20px;
    margin-top: 0;
}


@font-face  {
    font-family: mk5;
    src: url(Fonts/mk5.ttf);  
}


.subfooter .tiparea {
    float: left;
    height: 50px;
}

.gamePlatform {
    height: 80%;
}

.gamePlatform div, .gamePlatform aside {
    box-sizing: border-box;
}


#tableScores {
    width: 80%;
}

.headerTipsLeft {
    margin-left: 10%;
    margin-top: 20px;
}

#tableScores th:first-child {
    text-align: end;
}

#tableScores th:last-child {
    text-align: left;
}


#tableTimer p {
    font-size: 10px;
}


.modal-body {
    padding-top: 0;
}

.time p {
    font-size: 16px;
}


aside table {
    margin: 5px auto;
}

.field div {
    position: absolute;
}

div.yourShape {
    left: 50px;
}

div.opponentShape {
    right: 50px;
}

.container {
    margin: 5px auto;
}

.imagesList {
    margin: 5px auto;
    width: 858px;
}

.thumbnail {
    display: inline-block;
    position: relative;
    overflow: hidden;
}


#journalItself {
    padding-top: 5px;
}

#journalItself td, #journalItself th {
    text-align: center;   
}


#journalItself td {
    padding: 5px 7px;
}

#journalItself th {
    vertical-align: middle;
}


#modalJournal .modal-dialog {
    width: 640px;
}


.caption {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 2%;
    z-index: 2;
    background:rgba(95, 95, 95, 0.75);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}


th.yourScoresLegend {
    padding-right: 10px;
}

th.opponentScoresLegend {
    padding-left: 10px;
}

